################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/57eb4956-1ca5-4459-a055-88ceb7e51e34.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/56a1eec3-e42b-4781-9604-80d5eb9d0fb6.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/5c36d29c-702e-4007-8698-fb3272816ac7.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/6462b771-dec8-44dd-88d8-6122564d3ee5.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/91ad0a93-5ba5-4142-b42f-01453825f606.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/bb2f76fe-f583-4823-a49e-7d93fed2da6a.vsidx
