################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/57eb4956-1ca5-4459-a055-88ceb7e51e34.vsidx
/source/repos/COMP1640/.vs/COMP1640/FileContentIndex/56a1eec3-e42b-4781-9604-80d5eb9d0fb6.vsidx
