################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/COMP1640/.vs/COMP1640/FileContentIndex
