@{
    ViewData["Title"] = "Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<COMP1640.Models.User>

<div class="main__container">
    <div class="grid wide">
        <div class="row main__content">
            <div class="col l-8 l-o-2">
                <div class="profile">
                    <ul class="profile-sidebar">
                        <li class="profile-sidebar__item">
                            <a asp-controller="Coordinator" asp-action="StuIndex" class="profile-sidebar__item--link">Student</a>
                        </li>
                        <li class="profile-sidebar__item">
                            <a asp-controller="Coordinator" asp-action="GuestIndex" class="profile-sidebar__item--link active">Guest</a>
                        </li>
                    </ul>
                    <div class="profile-info">
                        <h1>Guest</h1>
                        <a asp-controller="Home" asp-action="AddStudent" class="btn add">
                            <i class="fa-solid fa-plus"></i>
                            Guest
                        </a>
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User name</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td data-title="ID">@user.UserId</td>
                                        <td data-title="Username">@user.Username</td>
                                        <td data-title="Delete">
                                            <a asp-controller="Coordinator" asp-action="Delete" asp-route-id="@user.UserId" class="btn delete" onclick="confirmation(event)">
                                                <i class="fa-solid fa-trash"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>