@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.swal2-popup {
    font-size: 16px;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #4050e6;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    /* ===== Size ===== */
    --sidebar-width: 210px;
    --small-sidebar-width: 70px;
    --section-width: calc(100% - var(--sidebar-width));
    --sidebar-header-height: 120px;
    --section-header-height: 70px;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.main {
    overflow: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: var(--section-header-height);
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;
}

.admin-account {
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.avatar {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-color: #fff;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-name {
    font-size: 1.6em;
    font-weight: 500;
    color: #fff;
}

/* ===== Reusable code - Here ===== */
.nav-link {
    height: 36px;
    list-style: none;
    margin-top: 6px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: var(--tran-04);
}

.btn {
    width: 100px;
    height: 36px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    margin-right: 8px;
}

.btn.primary{
    background-color: var(--primary-color);
}

.btn.secondary{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn.edit {
    background-color: #fc0;
}

.btn.back,
.btn.delete {
    background-color: #f13637;
}

.btn.back {
    position: absolute;
    top: 24px;
    right: 24px;
}

.btn:hover {
    filter: brightness(0.9);
}

/* =========================== */

/* Section header */
.section__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--section-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.section__header .header__menu {
    width: var(--small-sidebar-width);
    height: var(--small-sidebar-width);
    display: none;
    justify-content: center;
    align-items: center;
}

.section__header .header__menu i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.section__header .header__logo {
    --max-size: calc(var(--section-header-height) - 6px);
    max-width: var(--max-size);
    max-height: var(--max-size);
    margin-left: calc(var(--sidebar-width) / 3);
    padding: 4px;
    overflow: hidden;
}

.section__header .header__logo-link {
    text-decoration: none;
}

.section__header .header__logo-img {
    width: 100%;
    border-radius: 50%;
}

.header__left {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left .notification {
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.header__left i {
    font-size: 24px;
    color: #fff;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 36px;
    position: relative;
}

.search-box i {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translateY(-50%);
}

.search-box input {
    flex: 1;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #333;
    padding-left: 46px;
    outline: none;
}

.nav-link a {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.nav-link a:hover {
    background-color: var(--primary-color);
}

.nav-link a:hover .icon,
.nav-link a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 12px;
    height: calc(100% - 100px);
    position: relative;
    z-index: 3;
}

.home {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 1.875em;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.home h1 {
    font-size: 3.2em;
}

/* Section body */
.section__body {
    margin-top: var(--section-header-height);
    padding: 12px;
}

/* Table */
.main-content {
    background-color: #fff;
    padding: 24px;
    margin-top: 12px;
    border-radius: 8px;
    font-size: 16px;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin: 24px auto;
}

.content-table thead tr {
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary-color);
}

/* Responsive */
@media (max-width: 1023px) {
    .sidebar {
        width: var(--small-sidebar-width);
    }

    .sidebar .text {
        display: none;
    }

    .nav-link a {
        justify-content: center;
    }

    .home {
        width: calc(100% - var(--small-sidebar-width));
        margin-left: var(--small-sidebar-width);
    }

    .section__header .header__menu {
        display: flex;
    }

    .section__header .header__logo {
        display: none;
    }
}

@media (max-width: 840px) {
    .content-table thead tr {
        display: none;
    }

    .content-table tr {
        display: block;
    }

    .content-table th,
    .content-table td {
        padding: 10px;
    }

    .content-table td {
        text-align: right;
        display: block;
        font-size: 1em;
    }

    .content-table td::before {
        content: attr(data-title);
        font-weight: bold;
        float: left;
        padding-right: 10px;
    }

    .content-table tbody tr {
        border: 3px solid var(--primary-color);
        margin-bottom: 24px;
    }
}

/* Input form */
.container {
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    padding: 15px 24px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    width: fit-content;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(135deg, #788ce7, #7c43be);
}

.content form .form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

form .form-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    min-width: 400px;
}

form .form-details .input-box.category {
    width: 100%;
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-details .input-box select,
.form-details .input-box textarea,
.form-details .input-box input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease-in-out;
}

.form-details .input-box input:focus,
.form-details .input-box select:focus,
.form-details .input-box textarea:focus {
    border-color: #3e4dd6;
}

.form-details .input-box input[type="file"] {
    padding-top: 9px;
    border-color: #ccc;
}

.form-details .input-box textarea {
    height: auto;
    padding-top: 12px;
    padding-right: 15px;
}

.form-details .input-box .text-danger {
    font-size: 1em;
    line-height: 1.4em;
    color: red;
}

.button__container {
    display: flex;
    align-items: center;
}

.button__container .btn {
    width: 120px;
    height: 40px;
    margin-right: 12px;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

    .pagination .pagination-item {
        margin: 0 6px;
    }

    .pagination .pagination-item__link {
        --height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        min-width: 40px;
        height: var(--height);
        line-height: var(--height);
        text-decoration: none;
        border-radius: 2px;
        border: 1px solid #ddd;
    }

    .pagination .pagination-item:hover .pagination-item__link,
    .pagination .pagination-item.active .pagination-item__link {
        background-color: var(--primary-color);
        color: white;
        border: 1px solid var(--primary-color);
    }

    .pagination .pagination-item.disabled .pagination-item__link {
        background-color: #ddd;
        color: #333;
        border: none;
        opacity: 0.6;
        cursor: not-allowed;
    }

    .pagination .pagination-item .pagination-item__link .pagination-item__icon {
        font-size: 14px;
    }