@{
    ViewData["Title"] = "Update Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model COMP1640.Models.User

<div class="main__container">
    <div class="grid wide">
        <div class="row main__content">
            <div class="col l-8 l-o-2">
                @using (Html.BeginForm("UpdatePass", "Account", FormMethod.Post, new {@class = "form-control"}))
                {
                    <div class="profile">
                        <ul class="profile-sidebar">
                            <li class="profile-sidebar__item">
                                <a asp-controller="Account" asp-action="UpdateInfo" class="profile-sidebar__item--link">Account</a>
                            </li>
                            <li class="profile-sidebar__item">
                                <a asp-controller="Account" asp-action="UpdatePass" class="profile-sidebar__item--link active">Password</a>
                            </li>
                        </ul>
                        <div class="profile-info">
                            <h1>Password Settings</h1>
                            <table width="100%" class="profile-details">
                                <tr>
                                    <td class="title"><strong>Old password</strong></td>
                                    <td>
                                        <div class="profile__group">
                                            <input type="password" name="password" class="profile__input"
                                                   placeholder="Enter your old password">
                                            <span class="text-danger">
                                                @TempData["PasswordError"]
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title"><strong>New password</strong></td>
                                    <td>
                                        <div class="profile__group">
                                            <input type="password" name="newPass" class="profile__input"
                                                   placeholder="Enter your new password">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title"><strong>Confirm password</strong></td>
                                    <td>
                                        <div class="profile__group">
                                            <input type="password" name="confirmNewPass"
                                                   class="profile__input" placeholder="Confirm your new password">
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(temp => temp.Password)
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="profile-actions">
                                <button type="submit" class="btn primary">
                                    Save Changes
                                </button>
                                <a asp-controller="Home" asp-action="Index" class="btn secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>