@{
    ViewData["Title"] = "Home Page";
	var username = Context.Session.GetString("Username");
}
@if(username != null)
{
    <h1>Welcome to Home Page, @username</h1>
}
else
{
    <h1>This is Home Page</h1>
}