﻿@{
    ViewData["Title"] = "Add Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="section__body">
    <div class="container">
        <div class="title">Add Role</div>
        <div class="content">
            <form asp-area="Admin" asp-controller="Role" asp-action="Add" method="post">
                <div class="form-details">
                    <div class="input-box">
                        <span class="details">Role name</span>
                        <input type="text" id="RoleName" name="RoleName" placeholder="Enter role name">
                    </div>
                </div>
                <div class="button__container">
                    <button type="submit" class="button primary">Create</button>
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="button cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>