﻿@{
    ViewData["Title"] = "Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model X.PagedList.IPagedList<COMP1640.Models.Role>

<div class="section__body">
    <h1>Roles</h1>
    <div class="main-content">
        <a asp-area="Admin" asp-controller="Role" asp-action="Add" class="btn add">
            <i class="fa-solid fa-plus"></i>
            Role
        </a>
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td data-title="ID">@role.RoleId</td>
                        <td data-title="Username">@role.RoleName</td>
                        <td data-title="Edit">
                            <a asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-id="@role.RoleId" class="btn edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit
                            </a>
                        </td>
                        <td data-title="Delete">
                            <a asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-id="@role.RoleId" class="btn delete" onclick="confirmation(event)">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                <!-- <tr>
                    <td colspan="5" style="text-align: center;">There are no data</td>
                </tr> -->
            </tbody>
        </table>
        <!-- pagination -->
    </div>
</div>