@{
    var username = Context.Session.GetString("Username");
}﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/admin/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>@ViewBag.Title</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmation(e) {
            e.preventDefault();
            var urlToRedirect = e.currentTarget.getAttribute('href');

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = urlToRedirect;
                }
            })
        }
    </script>
    @await Component.InvokeAsync("NToastNotify")
</head>

<body>
    <div class="main">
        <header class="section__header">
            <div class="header__menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="header__logo">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="header__logo-link">
                    <img class="header__logo-img" src="~/admin/img/logo.svg">
                </a>
            </div>

            <div class="header__left">
                <ul class="navbar">
                    <li class="navbar-item">
                        <div class="profile-dropdown">
                    <input type="checkbox" id="check-profile">
                    <label for="check-profile" class="profile-dropdown-btn">
                        <div class="profile-img" style="background-image: url('@Url.Content("~/admin/img/admin.png")');">
                            <i class="fa-solid fa-circle"></i>
                        </div>

                        <span>
                            <p>@username</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </label>

                    <ul class="profile-dropdown-list">
                        <li class="profile-dropdown-list-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Profile">
                                <i class="fa-regular fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <hr />

                        <li class="profile-dropdown-list-item">
                            <a asp-controller="Account" asp-action="Logout">
                                <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
                    </li>
                </ul>
            </div>
        </header>
        <nav class="sidebar">
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Role" asp-action="Index">
                                <i class="bx bxs-universal-access icon"></i>
                                <span class="text nav-text">Roles</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="bx bxs-user-account icon"></i>
                                <span class="text nav-text">Users</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Faculty" asp-action="Index">
                                <i class="bx bxs-graduation icon"></i>
                                <span class="text nav-text">Faculties</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Term" asp-action="Index">
                                <i class="bx bxs-calendar-event icon"></i>
                                <span class="text nav-text">Term</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="home">
            @RenderBody()
        </section>

    </div>
</body>

</html>