/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 2em 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        background: linear-gradient(to bottom, #4f60ff 0%, #4f60ff 100%);
        box-shadow: 0 0.8em 1.6em rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        overflow: hidden;
    }

    #check:checked~.navbar {
        height: fit-content;
    }

    .navbar-item {
        margin: 1em 0;
    }

    .navbar a {
        font-size: 1.6em;
        opacity: 0;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    #check:checked~.navbar a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(0.15s * var(--i));
    }

    form .form-content .input-box {
        width: 100%;
        margin-bottom: 15px;
    }
}