@model COMP1640.ViewModels.ProfileViewModel

@{
	ViewData["Title"] = "Update Password";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="section__body">
	<div class="main-content">
		<form asp-area="Admin" asp-controller="Home" asp-action="UpdatePass" method="post">
			<div class="profile">
				<ul class="profile-sidebar">
					<li class="profile-sidebar__item">
						<a asp-area="Admin" asp-controller="Home" asp-action="Profile" class="profile-sidebar__item--link">Account</a>
					</li>
					<li class="profile-sidebar__item">
						<a asp-area="Admin" asp-controller="Home" asp-action="Pass" class="profile-sidebar__item--link active">Password</a>
					</li>
				</ul>
				<div class="profile-info">
					<h1>Password Settings</h1>
					<table width="100%" class="profile-details">
						<tr>
							<td class="title"><strong>Old password</strong></td>
							<td>
								<div class="profile__group">
									<input type="password" asp-for="OldPassword" class="profile__input" placeholder="Enter your old password" required>
								</div>
							</td>
						</tr>
						<tr>
							<td class="title"><strong>New password</strong></td>
							<td>
								<div class="profile__group">
									<input type="password" asp-for="NewPassword" class="profile__input" placeholder="Enter your new password">
								</div>
							</td>
						</tr>
						<tr>
							<td class="title"><strong>Confirm password</strong></td>
							<td>
								<div class="profile__group">
									<input type="password" asp-for="ConfirmPassword" class="profile__input" placeholder="Confirm your new password">
								</div>
							</td>
						</tr>
					</table>
					<div class="profile-actions">
						<button type="submit" class="btn primary">
							Save Changes
						</button>
						<a asp-controller="Home" asp-action="Index" class="btn secondary">
							Cancel
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
