@{
    ViewData["Title"] = "User List";
	Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="section__body">
    <h1>Users</h1>
    <div class="main-content">
        <a asp-area="Admin" asp-controller="User" asp-action="Add" class="btn add">
            <i class="fa-solid fa-plus"></i>
            Create
        </a>
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="ID">1</td>
                    <td data-title="Username">John</td>
                    <td data-title="Email">johnsmith@gmail.com</td>
                    <td data-title="Edit">
                        <a asp-area="Admin" asp-controller="User" asp-action="Edit" class="btn edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Edit
                        </a>
                    </td>
                    <td data-title="Delete">
                        <a href="#" class="btn delete" onclick="confirmation(event)">
                            <i class="fa-solid fa-trash"></i>
                            Delete
                        </a>
                    </td>
                </tr>
                <!-- <tr>
                    <td colspan="5" style="text-align: center;">There are no data</td>
                </tr> -->
            </tbody>
        </table>
        <!-- pagination -->
    </div>
</div>
